

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section.header {
  display:flex;
}

img{
  flex: 1;
  width: 200px;
  height: 70px;
}

article.nav{
flex: 1;
}

ul.nav-ul {
list-style-type: none;
margin:0;
padding: 0;
overflow: hidden;
color: black;
flex: 1;
}

li.nav-li {
float: right;
}

.nav-a {
  display: block;
color: black;
text-align: center;
padding: 14px 16px;
}

button.btn {
  width: 198;
  height: 45;
  background-color: #F4CE14;
  color: black;
  border: black;
  border-radius: 12;
  font-family: karla;
  font-weight: bold;
  font-size: 24;
  box-shadow: 1px 1px darkgray;
}

section.little-lemon {
  display: flex;
  background-color: #495E57;
  color: #EDEFEE;
}

h1 {
  color: #F4CE14;
  font-family: Markazi;
  font-weight: bold;
  font-size: 64;
}
article.bio {
  flex: 1;
}

article.bio-img {
  flex: 1;
  width: 253px;
  height: 291px;
}
