*{
  text-align: center;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

section.header {
  display:flex;
  flex-direction: row;
}

img.header-logo{
  flex: 1;
  width: 20vw;
  height: 10vh;
  padding: 0px;
}

article.nav{
flex: 1;
width: max-content;
}

ul.nav-ul {
list-style-type: none;
margin:0;
padding: 0;
color: black;
flex: 1;
flex-direction: row-reverse;
}

li.nav-li {
flex-direction: row;
float: right;
padding-top: 5px;
margin: 5px;
}

.nav-a {
display: block;
color: black;
text-align: center;
/*padding: 13px 15px;*/
}

button.btn {
  width: 15vw;
  height: 4vh;
  background-color: #F4CE14;
  color: black;
  border: black;
  border-radius: 12;
  font-family: karla;
  font-weight: bold;
  font-size: 24;
  box-shadow: 1px 1px darkgray;
  float: left;
  text-align: top;
  
}

button.btn:hover {
  color:#DB4242;
}

section.little-lemon {
  display: flex;
  width: fit-content;
  flex-direction: row;
  background-color: #495E57;
  color: #EDEFEE;
  /*padding-left: 0;
  padding-right: 0;*/
}

h1 {
  color: #F4CE14;
  font-family: Markazi;
  font-weight: bold;
  font-size: 64;
  text-align: left;
}
article.bio {
  flex: .8;
  padding-left:20px ;
  padding-right: 50px;
}

 h3, p {
  text-align: left;
}

img.bio-img {

  flex-direction: row;
  width: /*253px*/max-content;
  height: 291px;
  border: black;
  border-radius: 20;
  
  float: right;

}

section.specials {
  display: flex;
}

h2{
  flex: 5;
  text-align: left;
  font: markazi;
  font-weight: bold;
  font-size: 40px;
  color: black;
}

button.menu-btn {
  flex: .7;
  width: 145px;
  height: 37px;
  background-color: #F4CE14;
  color: black;
  border: black;
  border-radius: 12;
  font-family: karla;
  font-weight: bold;
  font-size: 24;
  box-shadow: 1px 1px darkgray;
  float: right;
}

button.menu-btn:hover{
  color: #DB4242;
}

section.items {
  display: flex;
  padding-bottom: 20px;
  width:fit-content;
}

article.greek-salad {
  flex: 1;
  background-color: #EDEFEE;
  width: fit-content;

}

img{
  width: 100%;
  height: 180px;
  padding: 0;
  margin: 0;
}

article.bruschetta {
  flex: 1;
  background-color: #EDEFEE;

}

p.price {
  float: right;
  font: karla;
  font-size: 14px;
  font-weight: bold;
  color: #DB4242;
}

article.lemon-dessert {
  flex: 1;
  background-color: #EDEFEE;
}

img.delivery-icon {
  width: 30px;
  height: 30px;
  float: center;
  margin: 0;
  border: 0;
  background-color: #EDEFEE;
  padding: 0 0 0 0;

}

p.p-food {
  text-align: justify;
  font: karla;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

p.delivery-food {
  text-align: justify;
  font: karla;
  font-size: 16px;
  font-weight:bold;
  color: #333333;
  padding-bottom: 5px;
  padding-top: 10px;
}

section.links {
  display: flex;
}

ul {
  list-style-type: none;
}

h4 {
font-weight: bold;
font-size: 22px;
font: markazi;
color: black;
}

a {
  font: karla;
  font-weight: normal;
  font-size: 17px;
  color: black;
  text-decoration: none;
}

li.contact-li {
  flex: 1;
  font: karla;
  font-weight: normal;
  font-size: 17px;
  color: black;
}

img.footer-img{
  flex: 1;
  height: 270px;
  width: 100%;
}

article.footer-link{
  flex: 1;
}